* {
  border: 1px solid teal;
}

nav {
  /*display: none;*/
}

img {
  max-width: 175px;
  height: 125px;
}

section  {
  display: flex;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* justify-content: space-around; */
  /* justify-content: space-between; */
  justify-content: space-evenly;
}

.container {
  display: flex;
  justify-content: space-around;
}

aside {
  min-width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}